<%- include('../../partials/header.ejs'); %>
<section>
    <div class="container">
        <hr>
        <center><h2>Artigos</h2></center>
        <hr>
        <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>         
                <% art.forEach(art =>{ %>
                    <tr>    
                        <td><%= art.id %> </td>
                        <td><%= art.title %></td>
                        <td><%= art.slug %></td>
                        <td><%= art.category.title %></td>
                        <td>
                            <a href="/admin/articles/edit/<%=art.id%>" class="btn btn-warning">Editar</a> 

                            <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="deleteConfirm(event, this)">
                                <button class="btn btn-danger">Deletar</button>
                                <input type="hidden" name="id" value="<%= art.id %>">
                            </form>     
                        </td>
                    </tr> 
                <% }); %> 
            </tbody>    
        </table>
    </div>
</section>
<script>
    function deleteConfirm(event, form){
        event.preventDefault();
        const decision = confirm("Você quer deletar este artigo?");
        if(decision){
            form.submit();
        }
    }
</script>
<%- include('../../partials/footer.ejs'); %>
